body{
  text-align: center;
  /*background-color:#DDDDDD;*/
  background-position: center center;
}

table {
  /*align: center; ←これはhtmlに直接書き込まないと無効だった*/
  border-collapse:collapse;
  width:800px;
  table-layout: fixed;
  margin: auto;
  text-align: center justify;
}

table, th, td {
  border: 1px solid black;
  padding: 10px 20px;
}

#insert{
  float:left;
  margin-left:45%;
}

#delete{
  float:left;
  margin-left:20px;
}
