body{
  text-align: center;
  background-color:#DDDDDD;
}

input {
    text-align: center;
}
h1{
  font-size: 18px;
  text-align: center;
}
h2{
  font-size: 15px;
}
input#name_form{
  padding: 0.3em;
  border:solid 1px #F0FFFF;

}

input#msg_form{
  padding: 0.4em;
  width:160px;
  border:solid 1px #F0FFFF;
}

input#submit_button{
	background-color: #333;
	border: 2px solid #333;
	color: #fff;
	line-height: 25px;
}

input#submit_button:hover {
	background-color: #f5f5f5;
	border-color: #000000;
	color: #000000;
}

input#add_form {
	width:35px;
}

input#add_form:hover {
	background-color: #f5f5f5;
	border-color: #000000;
	color: #000000;
}


table {
    /*align: center; ←これはhtmlに直接書き込まないと無効だった．．．*/
    border-collapse:collapse;
    width:1000px;
    table-layout: fixed;
  }

table, th, td {
    border: 1px solid black;
}
