
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<meta http-equiv="Content-Script-Type" content="text/javascript" />

<meta http-equiv="Content-Style-Type" content="text/css" />

<title>卒業論文 2016年度テーマ</title>

<link href="../../common/css/base.css" rel="stylesheet" type="text/css" media="all" />

<link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />

<!--
<link href="base.css" rel="stylesheet" type="text/css" media="all" />

<link href="style.css" rel="stylesheet" type="text/css" media="all" />
-->

<script type="text/javascript" src="../../common/js/smoothscroll.js"></script>

<script LANGUAGE="JavaScript">

<!--

function menuLink(linkLoc)

{ if(linkLoc !="") { window.location.href=linkLoc;} }

//-->

</script>

</head>



<body>

<div id="header">

<div class="innerWrap">

<p id="logo"><a href="http://www.si.t.u-tokyo.ac.jp/psi/index.html">東京大学工学部システム創成学科知能社会システムコース</a></p>

</div><!-- /.innerWrap -->

</div><!-- /#header -->



<div id="contents">

<div id="nav">
<ul>
<li><a href="./index.html">2016年度トップ</a></li>
<li>
  <form>
    <select name="select" onchange="menuLink(this.options[this.selectedIndex].value)">
      <option>担当教員別リンク</option>
      <option value="aichi.html" selected="1">愛知 正温 講師</option>
      <option value="aoyama.html">青山 和浩 教授</option>
      <option value="abe.html">阿部 力也 特任教授</option>
      <option value="ihara.html">井原 智彦 准教授</option>
      <option value="ozaki.html">尾崎 雅彦 特任教授</option>
      <option value="kageyama.html">影山 和郎 教授</option>
      <option value="kuriyama.html">栗山 幸久 教授</option>
      <option value="sakata.html">坂田 一郎 教授</option>
      <option value="shibanuma.html">柴沼 一樹 講師</option>
      <option value="shirayama.html">白山 晋 准教授</option>
      <option value="suzuki.html">鈴木 克幸 教授</option>
      <option value="takeda.html">武田 史子 准教授</option>
      <option value="tanaka.html">田中 謙司 特任准教授</option>
      <option value="nawata.html">縄田 和満 教授</option>
      <option value="nishino.html">西野 成昭 准教授</option>
      <option value="hiekata.html">稗方 和夫 准教授</option>
      <option value="fujita.html">藤田 豊久 教授</option>
      <option value="matsuo.html">松尾 豊 特任准教授</option>
      <option value="matsushima.html">松島 潤 准教授</option>
      <option value="murayama.html">村山 英晶 准教授</option>
      <option value="mogi.html">茂木 源人 准教授</option>
      <option value="motohashi.html">元橋 一之 教授</option>
      <option value="yamaguchi.html">山口 一 教授</option>
      <option value="yoshida.html">吉田 好邦 教授</option>
      <option value="rokugawa.html">六川 修一 教授</option>
    </select>
  </form>
</li>
</ul>
</div><!-- /#nav -->

<h1 class="clear">愛知 正温 講師</h1>

<h2>卒業論文テーマ</h2>


<!--  ここから＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿-->


<table width="100%" class="style02">

    <tr>

        <th>研究テーマ</th>

        <td>環境・防災・資源分野に関わる地下圏の活用技術</td>

    </tr>

    <tr>

        <th>研究室の紹介</th>

        <td>
            <p>
            本研究室では、地下をうまく利用することにより、環境問題や資源問題、防災対策などに貢献することを目指しています。
            複雑で、ときに直接的な観測が難しい問題に取り組むため、理論、シミュレーション、室内実験、フィールド調査などの様々な手法を組み合わせて研究を行っています。
            </p>
        </td>

    </tr>

    <tr>

        <th>標準受入人数</th>

        <td>2名</td>

    </tr>

    <tr>
        <th>研究室ウェブサイト</th>
        <td><a href="http://park.itc.u-tokyo.ac.jp/aichi/" target="blank">http://park.itc.u-tokyo.ac.jp/aichi/</a></td>
    </tr>

    <tr>
        <th>実施場所</th>
        <td>工学部4号館313号室, 工学部3号館204号室（学生室）</td>
    </tr>

    <tr>

    <th>備考</th>

    <td>
    <p>
    希望に応じて柏キャンパスにもデスクとPCを用意します。
    </p>
    </td>

    </tr>

</table>



<table width="100%" class="style02">

<tr>

<th>卒業論文テーマ</th>

<td>

<ol>

<li><strong> 地下水揚水量の増減に伴う地盤沈下／隆起現象</strong></li>
<li><strong> 光ファイバーセンサーによる岩盤の高精度ひずみ計測</strong></li>
<li><strong> 地中熱・地熱利用に関わる熱輸送－地下水流動－地盤変形連成現象</strong></li>
<li><strong> 干渉型合成開口レーダ・GPS・水準測量等による地盤変動観測データと地盤変動モデリングの融合</strong></li>

</ol>

<p>ほか</p>

</td>

</tr>

<tr>

<th>卒業論文の狙い</th>

<td>
<p>
地下は直接見ることができないため、エンジニアリングをする場合には、常に不確実性の問題を意識する必要があります。
その上で、さまざまな科学的手法を駆使して、もっとも確からしいことや期待できることを導き出す思考法や技術を身につけてください。
また、自ら興味を持って課題を明確化し、主体的に取り組むことで、自分の発想を実現していく醍醐味を経験してほしいと思います。
</p>
</td>

</tr>

<tr>

<th>卒業論文の内容／計画</th>

<td>
<strong>[内容]</strong>
<ul><li><b>テーマ(1) 地下水揚水量の増減に伴う地盤沈下／隆起現象</b></li>
<p>
地下水は安価で水質・水温も比較的安定した重要な水資源ですが、利用の際にネックとなることの一つとして、地盤沈下問題があります。
かつて日本でも四大公害の一つとして社会問題となりました。現在も地域によっては継続中であり、またアジア諸国の沿岸平野の大都市などでは、深刻な問題となっています。
一方で、東京などでは地下水利用規制が奏効して地下水位は上昇し、地盤沈下は止まり、隆起するにまで至りました。しかし、そこまで至ると地下水を一切利用しないというスタイルが、総合的に見て最適な解というわけではないのかもしれません。
適切な地下水利用の在り方を数値シミュレーション等の科学的手法を用いて検討するとともに、社会の発展とそれに伴う水需要、環境配慮のバランスについても考えてもらいたいと思います。
</p>
</ul>
<ul><li><b>テーマ(2) 光ファイバーセンサーによる岩盤の高精度ひずみ計測</b></li>
<p>
岩盤の変形を監視することは、地下構造物や岩盤に基礎を置く建造物の施工および供用中の安全性・健全性の評価のためにきわめて重要です。
将来的には、地震防災などにも貢献するかもしれません。
現在、岩盤の変形を超高精度(分解能10<sup>-8</sup>&#949;程度)で長期計測する技術の実証試験を行っており、そのための実験や数値解析を通してデータの評価等を行います。
世界最高水準のセンシング技術開発とその先の応用可能性について考えてもらいたいと思います。
</p>
</ul>
<ul><li><b>テーマ(3) 地中熱利用に関わる熱輸送－地下水流動－地盤変形連成現象</b></li>
<p>
空調のヒートポンプの熱交換先を、一年中温度が安定している地下にすることで飛躍的に効率をよくする「地中熱利用」は、省エネ技術・ピークカット技術として期待されており、実際欧米ではかなり導入されています。
しかし、日本では全くといって良いほど、普及していません。これは、日本の地層や地下水流れの複雑さや、掘削費用などがリスク・コストとして忌避されているのが一因と考えられています。
また、熱交換効率の良い揚水・還元方式が、地盤沈下を防止するための地下水揚水規制のために採用できない地域が多いということもあります。
これらのリスクやコストの低減、あるいは地盤変形や地下温度変化などの環境影響の可能性などについて、熱輸送－地下水流動－地盤変形連成現象のモデリングや、実験などを通じて検討してもらいたいと思います。
</p>
</ul>
<ul><li><b>テーマ(4) 干渉型合成開口レーダ・GPS・水準測量等による地盤変動観測データと地盤変動モデリングの融合</b></li>
<p>
観測データは実際の記録ですが、観測にはそれぞれ手法に応じた誤差や測定範囲などの限界があります。
一方、モデルは理論的には正確ですが、パラメータの不確実性などをはじめとしていくつかの誤差要因があり、こちらも正しいとは限りません。
このように、これら単独では、それぞれ限界がありますが、うまく融合してそれぞれの短所を補い長所を生かすことで、一番もっともらしい現在の状態を推定したり、将来予測の精度を向上したりできる可能性があります。
最小二乗法、情報量基準などの統計的な手法を駆使して、物理モデルや観測データを最大限活用する方法について検討してもらいたいと思います。
</p>
</ul>
<strong>[計画]</strong>
<ul>
<li>6月：テーマの具体化</li>
<li>7月～9月：基礎知識・手法の学習、関連研究等のレビュー</li>
<li>10月～12月：シミュレーション、実験、野外調査等</li>
<li>1月：論文作成</li>
<li>2月：論文提出・発表会</li>
</ul>
</td>

</tr>

<tr>

<th>備考</th>

<td>
<p>
上記のテーマは一例で、学習の進捗度や学生の興味・関心によりテーマの調整を行うことがあります。
また、必要に応じて他の研究室や外部機関と連携しつつ実施します。
</p>
</td>

</tr>

</table>



<p class="pagetop"><a href="#header">ページトップへ</a></p>

</div><!-- /#contents -->

<div id="footer">

<p>Copyright(C) 2006-2016 Faculty of Engineering The University of Tokyo. All rights reserved.</p>
</div>

</body>

</html>
