<!-- templates/data.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>データ確認</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    システム創成学専攻<br><br>

    <table>
        <tr> <!-- table row-->
            <th>paragraph</th> <!-- table header-->
    　   </tr>
        {% for p in system_table %}
        <tr>
            <td>
            {{ p.paragraph}}<br>
            </td>
        <tr>
        {% endfor %}<br><br><br>
    </table>


    <hr>

    TMI<br><br>


    {% for p in _table %}
        {{ p.paragraph}}<br>
    {% endfor %}<br><br><br>

</body>
</html>
