<!-- templates/show_data.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>データ確認</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='db.css') }}">
</head>
<body>
    <br>

    <table>
        <tr>
            <th width="15">教員名</th>
            <th id = "keywords" width="985">キーワード</th>
    　   </tr>

        {% for row in teachers_table %}
        <tr>
            <td>{{ row.name }}</td>
            <td>{{ row.keywords }}</td>
        <tr>
        {% endfor %}
    </table>
    <br>
    <br>


    <form action="{{ url_for('db_insert') }}" method="post" id = "insert">
        <input type="submit" value="Insert data">
    </form>

    <form action="{{ url_for('delete') }}" method="post" id="delete">
        <input type="submit" value="Clear all data">
    </form>

    <br>
    <br>
    <br>

</body>
</html>
