<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
    <br>
    <form name = 'form' action='/add' method="post">
        名前<br>
        <input type='text' name='user' value='青山'><br><br>
        興味のある分野<br>
        <input type='text' name='message' value='チンパンジーの生態'><br><br>
        <input type='submit' name="summit" value = "検索">
    </form>
</body>
</html>
