<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <meta http-equiv="Content-Type" charset="UTF-8">
    <title>home</title>
</head>
<body>
    <br>

    <h1>PSI研究室レコメンドシステム</h1><br><br>

    <h2>
    <form name = 'form' action='/recomend' method="post">
        名前<br>
        <input id="name_form" type='text' name='user' value='青山'><br><br>
        興味のある分野<br><br>
        <input id="msg_form" type='text' name='message[]' value=''><br><br>
        <div id="piyo"></div>
        <input id ="submit_button" type='submit' name="summit" value = "検索" >
    </form><br>

    <button id = "add_input">入力欄を追加</button><br><br>
    </h2>

    <script>
    // 入力欄を追加(最大5つ)
    var message_num = 1
    document.getElementById("add_input").onclick = function(){
        message_num += 1
        if (message_num <= 5){
            var div_element = document.createElement("div");
            div_element.innerHTML = "<input id= 'msg_form' type='text' name='message[]' value=''><br><br>";
            var parent_object = document.getElementById("piyo");
            parent_object.appendChild(div_element);
        }
    }
    </script>
</body>
</html>
