<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
    <br>

    <h1>PSI研究室レコメンドシステム</h1><br><br>

    <h2>
    <form name = 'form' action='/recomend' method="post">
        名前<br>
        <input id="name_form" type='text' name='user' value='青山'><br><br>
        興味のある分野<br>
        <input id="msg_form" type='text' name='message1' value='システム'><br><br>
        <input id="msg_form" type='text' name='message2' value='サービス'><br><br>
        <input id ="submit_button" type='submit' name="summit" value = "検索" >
    </form>
    </h2>

</body>
</html>
