{% extends "test_bbs.html" %}
{% block body %}
    {% if session.logged_in %}
        <br>
        <form action="{{ url_for('add_posts') }}" method="post">
            Username<br>
            <input type="text" name="username_post"><br><br><!-- nameの設定重要！ -->
            Message<br>
            <input type="text" name="message_post"><br><br>
            <input type="submit" value="Send">
        </form>
    {% endif %}
    <br>
    <hr>
    <table>
        <tr>
            <th>username</th> 
            <th>message</th>
    　   </tr>
        {% for post in posts %}
        <tr>
            <td>
            {{ post.username }}
            </td>
            <td>
            {{ post.message|safe }}
            </td>
        <tr>
        {% endfor %}
    </table>
    <br>
    <form action="{{ url_for('delete_posts') }}" method="post">
        <input type="submit" value="Clear all posts">
    </form>
{% endblock %}
